body {
    margin: 0;
    font-family: "Red Hat Display", serif;
    text-align: center;
    padding: 2em;
    color: black;
    background-image: url(./img/YashmiT.png);
    background-repeat: no-repeat;
    
    
}

.title {
    font-size: 3em;
    margin-bottom: 2em;
    color: #222;
}
.units {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5em;
    flex-wrap: wrap;
}
.panel {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    min-width: 15em;
    height: 13em;
    position: relative;
}
.bg-unit {
    margin: 0;
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 10em;
z-index: 0;
}
.panel:nth-child(1) .bg-unit{
    color: #808080;
    opacity: 30%;
}

.panel:nth-child(2) .bg-unit{
    color: #808080;
    opacity: 30%;
}

.panel:nth-child(3) .bg-unit{
    color: #808080;
    opacity: 30%;
}

.panel h2, .panel input {
    position: relative;
}
.panel h2 { 
    text-align: left;
    padding-left: 1em;
    
}
input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
        margin: 0;
}
.panel input {
    border: none;
    background: none;
    margin-top: 0.5em;
width: 4em;
height: 2em;
font-size: 3em;
font-weight: 600;
text-align: center;
color: black;
opacity: 60%;
}
.panel input:focus {
    outline: none;

}
.footer__bottom p {
    font-family: "Domine", serif;
    font-size: 1.125rem;
    width: 95%;
    margin: 5% auto;
    text-align: center;
    color: black;
}

